<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signin Mockup</title>
</head>
<body>
    <a href="/api/user/signin">signin</a> | <a href="/register">Register</a>
    <hr>
    <form method="POST" action="/api/user/signin">
        Email: <input type="email" name="email" id="email">
        Password: <input type="password" name="password" id="password">
        <button type="submit">Login</button>
    </form>
    xx11xx22xx33
</body>
</html>